  <header>
    <h2><a href="/">GA Universe API</a></h2>
    
    <button class="toggle-button toggle" type="button">
      <span class="bar"> </span>
      <span class="bar"> </span>
      <span class="bar"> </span>
    </button>
    
  </header>