  <header>
    <h2>GA Universe API</h2>
    
    <a class="toggle-button toggle" href="#">
      <span class="bar"> </span>
      <span class="bar"> </span>
      <span class="bar"> </span>
    </a>
    
  </header>