<div class="row sidebar">
    <nav class="col-sm-2">
        <ul class="navbar-links">
            <li>
                <button type="button" class="close-btn">
                <div class="x-btn">+</div>
                </button>
                <h2>Episodes</h2>
                <ul class="links">
                  
                    <li>
                        <a href="#all-episodes" id="all-episodes-link">Get All Epsodes</a>
                    </li>
                    <li>
                        <a href="#specific-season" id="specific-season-link">Get Specific Season</a>
                    </li>
                    <li>
                        <a href="#random-episode" id="random-episode-link">Get Random Episode</a>
                    </li>
                    <li>
                        <a href="#episode-id" id="episode-id-link">Get Episode by ID</a>
                    </li>
                    <li>
                        <a href="#episode-title" id="episode-title-link">Get Episode by Title</a>
                    </li>
                    <li>
                        <a href="#season-episode-number" id="season-episode-number-link">Get Episode by Season & Episode Number</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>