<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='icon' href='/images/favicon.ico' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="homepage container">
    <div class="text">
    <h1><%= title %></h1>
    <p class="welcome-text">Welcome to the documentation for the Grey's Anatomy Universe API. There are sections for all three shows within the Grey's Anatomy Universe: Grey's Anatomy, Private Practice, and Station 19-- as well as information for where they crossover. Here you will find everything you need to get started. 
    </p>
    </div>  

    <section class="cards-section">
    <div class="cards-container">
      <div class="card">
        <a href="/all-shows">
        <h3 class="show-title">All Shows</h3>
        <div class="description">Get information about all three TV shows at once.</div>
        </a>
      </div>

      <div class="card">
        <a href="/greys-anatomy">
        <h3 class="show-title">Grey's Anatomy</h3>
        <div class="description">Get information about the Grey's Anatomy TV show.</div>
        </a>
      </div>

      <div class="card">
        <a href="/private-practice">
        <h3 class="show-title">Private Practice</h3>
        <div class="description">Get information about the Private Practice TV show.</div>
        </a>
      </div>

      <div class="card">
        <a href="/station-19">
        <h3 class="show-title">Station 19</h3>
        <div class="description">Get information about the Station 19 TV show.</div>
        </a>
      </div>

    </div>
    </section>

    </div>  
  </body>
</html>
