* {
  scroll-behavior: smooth;
}

body {
  padding: 50px;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

body, ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main.content {
  padding: 0 10px;
}

/*--------------------------------------------Homepage--------------------------------------*/

.homepage.container {
  justify-content: space-around;
}

.homepage.container .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homepage.container .text h1 {
  text-align: center;
}

.homepage.container .welcome-text {
  font-size: 1.25rem;
}

section.cards-section {
  display: grid;
  align-items: center;
  justify-content: center;

}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  max-width: 100%;
}

.cards-container a, header a:first-of-type {
  text-decoration: none;
  color: inherit;
}

.cards-container .card:hover {
  color: #00B7FF;
}

.cards-container .card {
  padding: 3rem 1.5rem;
  border: 1px solid rgb(158, 157, 157);
  border-radius: 8px;
  display: grid;
  align-items: space-between;
  justify-content: center;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

body.sidebar .sticky {
  background-color: transparent;
  
}

body.sidebar .toggle-button {
  display: none;
}

a {
  color: #00B7FF;
}

.col-sm-2 {
  height: 100%;
  width: 75%;
  max-width: 310px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  overflow: hidden;
  transition: 0.5s;
  background-color: rgb(248 250 252 / 1);
  padding: 20px 20px 0 20px;
  }
  
  .navbar-links {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

/* Hamburger menu */

header {
  position: relative;
  padding: 10px 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
}

header h2 {
  margin: 0;
  padding: 0;
}

.col-sm-2.active {
  display: grid;
  position: fixed;
}
  
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button:hover {
  transform: scale(1.05);
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.x-btn:hover {
  color: rgb(105, 100, 100);
}
/* Removes default appearance of button */
.sidebar button, header button {
  background-color: initial;
  border-width: 0;
  cursor: pointer;
  padding: 0;
}

.links a {
  text-decoration: none;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  font-size: 1rem;
}

.links a:hover {
  color: #00B7FF;
  
}

body.sidebar {
  background-color: rgba(0,0,0,.7);
}

.navbar-links h2, .links {
  padding-left: 8px;
}
.links li {
  margin-top: 8px;

}

.navbar-links li {
  display: flex;
  flex-direction: column;
}

/* --------------------------------------Documentation -------------------------------------------*/

article {
  width: 100%;
}


.section-title{
  font-size: 1.875rem;
  font-weight: 600;
}


.code-container {
  width: 100%;
  background-color: #eee;

  white-space: nowrap;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.code-container code {
  background-color: #eee;
  float: none;
  /* height: 90%; */
  margin: 0 0.25%;
  display: inline-block;
  zoom: 1;
  padding: 1rem;
}

body.sidebar .code-container, body.sidebar .code-container code {
  background-color: transparent;
  overflow-x: hidden;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  border-top: 1px solid rgba(203 213 225 / 1);
  margin-top: 20px;
  z-index: 1;
}

footer img:hover {
  opacity: 0.70;
}

body.sidebar footer {
  border-top: 0px;
  z-index: 0;
}

article section {
  padding-top: 28px;
}

@media (min-width: 768px) {

  .homepage.container {
    height: 100%;
  }


  .cards-container {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(2, minmax(200px, 1fr));
  }


}

@media (min-width: 1024px) {

  .container {
    max-width: 100%;
  }

  .cards-container {
    justify-self: center;
    align-self: center;
  }

  .close-btn {
    display: none;
  }

  .col-sm-2 {
    left: 0;
    position: static;
    z-index: 0;
    padding: 30px 30px 0 30px;
  }

  .toggle-button {
    display: none;
  }

  article {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  main.content {
    display: flex;
  }

  
}

@media (min-width: 1440px) {

  .homepage.container .welcome-text {
    width: 45%;
    justify-self: center;
    align-self: center;
  }

  article {
    width: 100%;
  }

}





